@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: 'Passion One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* font-family: 'Sriracha', cursive; */

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font-01: Verdana, Geneva, Tahoma, sans-serif;
    --font-02: 'Passion One', cursive;
    --font-03: 'Sriracha', cursive;
}



html, body{
    
    background-color: darkgray;
    font-family: var(--font-01);
}



header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font-02);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}



a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}



section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-variant: small-caps;
    padding-left: 30px;
    font-family: var(--font-03);
    font-weight: 5vw;
    font-size: 3.5vw;
    
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section > p{
    padding-bottom: 2em;
}



#bgimage-01{
    background-image: url(Material/imagens/background001.jpg);
}
#bgimage-02{
    background-image: url(Material/imagens/background002.jpg);
}



.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: lightcoral;
    color: black;
    box-shadow: inset 6px 6px 13px 0px black;
}
.imagem > p{
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}